@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="@Url.Page("/Football")">
    <h4>Футбол</h4>
</a>
<img src="https://pbs.twimg.com/media/EyosMj-XMAc-5s8.jpg:large"
     width="550" height="360"/>
<a href="@Url.Page("/Basketball")">
    <h4>Баскетбол</h4>
</a>
<img src="https://i.pinimg.com/originals/d8/74/59/d87459ac228d8fde14a5bf5f0e6d5496.jpg"
     width="550" height="360"/>
<a href="@Url.Page("/Hockey")">
    <h4>Хоккей</h4>
</a>
<img src="https://w-dog.ru/wallpapers/3/9/511463330164212/xokkej-s-shajboj-xxii-olimpijskie-zimnie-igry-zimnie-olimpijskie-igry-2014-2014-zimnie-olimpijskie-igry-rossiya-sport.jpg"
     width="550" height="360"/>
<a href="@Url.Page("/Wrestling")">
    <h4>Реслинг</h4>
</a>
<img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ibQfs_VHtw4Y/v5/-1x-1.jpg"
     width="550" height="360"/>
<a href="@Url.Page("/Tennis")">
    <h4>Теннис</h4>
</a>
<img src="https://images11.cosmopolitan.ru/upload/img_cache/963/9632eea25ef63fcd35a3d2d598b4ff4a_ce_738x490x2x0_cropped_1332x888.jpg"
         width="550" height="360"/>
